<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aot.pcfems.business.admin.menu">

    <!-- 메뉴리스트 정보취득하여 객체에 매핑한다-->
    <resultMap id="menuListMap" type="MenuInfo">
        <result property="menuId" column="MENU_ID"/>
        <result property="menuNm" column="MENU_NM"/>
        <result property="upMenuId" column="P_MENU_ID"/>
        <result property="menuType" column="MENU_TYPE"/>
        <result property="seq" column="SEQ"/>
        <result property="url" column="URL"/>
        <result property="level" column="LVL"/>
    </resultMap>

    <!-- 메뉴 정보취득하여 객체에 매핑한다-->
    <resultMap id="menuInfoMap" type="MenuInfo">
        <result property="menuId" column="MENU_ID"/>
        <result property="menuNmKor" column="MENU_NM_KOR"/>
        <result property="menuNmEng" column="MENU_NM_ENG"/>
        <result property="menuNmJpn" column="MENU_NM_JPN"/>
        <result property="upMenuId" column="P_MENU_ID"/>
        <result property="menuType" column="MENU_TYPE"/>
        <result property="seq" column="SEQ"/>
        <result property="url" column="URL"/>
        <result property="menu_icon" column="MENU_ICON"/>
        <result property="isEnd" column="ISEND"/>
    </resultMap>

    <!-- 메뉴리스트정보를 취득한다 -->
    <select id="doGetMenuList" resultMap="menuListMap">
	    SELECT MENU_ID 
             , (CASE SUBSTR(#{user_lang}, 1, 3) WHEN 'KOR' THEN MENU_NM_KOR WHEN 'ENG' THEN MENU_NM_ENG WHEN 'JPN' THEN MENU_NM_JPN ELSE MENU_NM_KOR END) AS MENU_NM 
             , P_MENU_ID 
             , MENU_TYPE 
             , SEQ 
             , URL 
             , LVL
        FROM MGMT_MENUMST
        ORDER BY SEQ
	</select>

    <!-- 메뉴정보를 취득 한다 -->
    <select id="getAdminMenuInfo" resultMap="menuInfoMap">
	    SELECT MENU_ID
             	 ,MENU_NM_KOR	    		
	    		,MENU_NM_ENG
	    		,MENU_NM_JPN
             , P_MENU_ID
             , MENU_TYPE
             , SEQ
             , URL
             , MENU_ICON
             , IFNULL((SELECT 'NO'
                    FROM DUAL
                    WHERE EXISTS (SELECT MENU_ID
                                  FROM MGMT_MENUMST S
                                  WHERE S.P_MENU_ID = #{p_dataparam})
                    ),'YES') ISEND
        FROM MGMT_MENUMST M
        WHERE MENU_ID = #{p_dataparam}
	</select>

    <!-- 메뉴정보를 등록 한다 -->
    <insert id="doInsertMenuInfo" parameterType="MenuInfo">
	    INSERT INTO MGMT_MENUMST (MENU_ID	    		
	    		,MENU_NM_KOR	    		
	    		,MENU_NM_ENG
	    		,MENU_NM_JPN	    							
                  ,P_MENU_ID
                  ,MENU_TYPE
                  ,SEQ
                  ,URL                  
                  ,MENU_ICON
                  ,LVL
                  ,CRT_ID
                  ,CRT_DT
                  ,UPD_ID
                  ,UPD_DT)
        VALUES(#{menuId}        	  
        	  ,#{menuNmKor}              
              ,#{menuNmEng}             
              ,#{menuNmJpn}              
              ,#{upMenuId}
              ,#{menuType}
              ,#{seq}
              ,#{url}
              ,#{menu_icon}
              ,#{level}
              ,#{crtUser}
              ,now()
              ,#{updtUser}
              ,now() )
	</insert>

    <!-- 메뉴정보를 갱신 한다 -->
    <update id="doUpdateMenuInfo" parameterType="MenuInfo">
	    UPDATE MGMT_MENUMST
        SET P_MENU_ID 		= #{upMenuId}        	
            ,MENU_NM_KOR 	= #{menuNmKor}            
            ,MENU_NM_ENG	= #{menuNmEng}            
            ,MENU_NM_JPN 	= #{menuNmJpn}
            ,MENU_TYPE 		= #{menuType}
            ,SEQ 					= #{seq}
            ,URL 					= #{url}
            ,MENU_ICON		= #{menu_icon}
            ,UPD_ID	 			= #{updtUser}
            ,UPD_DT 			= now()
        WHERE MENU_ID 		= #{menuId}
	</update>

    <!-- 메뉴정보를 삭제 한다 -->
    <delete id="doDeleteMenuInfo" parameterType="MenuInfo">
	    DELETE FROM MGMT_MENUMST
        WHERE MENU_ID = #{menuId}
	</delete>

    <!-- 메뉴정보를 취득 한다 -->
    <select id="getMenuInfoByUrl" resultMap="menuInfoMap" parameterType="String">
	    SELECT * FROM MGMT_MENUMST WHERE URL = #{url, jdbcType=VARCHAR}
	</select>
    <!-- 메뉴정보를 취득 한다 -->
    <select id="getMenuInfoByMenuId" resultMap="menuInfoMap" parameterType="String">
	    SELECT * FROM MGMT_MENUMST WHERE MENU_ID = #{menuId, jdbcType=VARCHAR}
	</select>
</mapper>